*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

::selection{
    background: teal;
}

#navbar {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #151d28;
    overflow: auto;
    z-index: 3;
}

#navbar::-webkit-scrollbar{
    display: none;
}

#navbar .close-btn{
    height: 30px;
    width: 30px;
    float: right;
    right: 0;
    padding: 5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;
}

#navbar .close-btn .fas{
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
}
  
  #navbar .wrap {
    color: #e9e9e9;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
  
  #navbar .wrap ul.wrap-nav {
    border-bottom: 1px solid #575757;
    text-transform: capitalize;
    padding: 150px 0px 100px;
  }
  
  #navbar .wrap ul.wrap-nav li {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    position: relative;
  }
  
  #navbar .wrap ul.wrap-nav li a {
    color: #34b484;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition-property: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
  }
  
  #navbar .wrap ul.wrap-nav li a:hover {
    color: #f0f0f0;
  }
  
  #navbar .wrap ul.wrap-nav ul {
    padding: 20px 0;
  }
  
  #navbar .wrap ul.wrap-nav ul li {
    display: block;
    font-size: 13px;
    width: 100%;
    color: #e9e9e9;
  }
  
  #navbar .wrap ul.wrap-nav ul li a {
    color: #f0f0f0;
  }
  
  #navbar .wrap ul.wrap-nav ul li a:hover {
    color: #34b484;
  }
  
  #navbar .social {
    font-size: 25px;
    padding: 20px;
  }
  
  #navbar .social p {
    margin: 0;
    padding: 20px 0 5px 0;
    line-height: 30px;
    font-size: 13px;
  }
  
  #navbar .social p a {
    color: #34b484;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  #navbar .social-icon {
    width: 80px;
    height: 50px;
    background: #e9e9e9;
    color: #333;
    display: inline-block;
    margin: 0 20px;
    transition-property: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
  }
  
  #navbar .social-icon:hover {
    background: #34b484;
    color: #f0f0f0;
  }
  
  #navbar .social-icon i {
    margin-top: 12px;
  }

.logo{
    z-index: 2;
    position: fixed;
    top: 2%;
    left: 2%;
    height: 50px;
    width: 50px;
}

.logo img{
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-btn{
    z-index: 2;
    position: fixed;
    float: right;
    right: 0;
    height: 20px;
    width: 20px;
    padding: 2%;
}


.menu-btn img{
    cursor: pointer;
}

#intro{
    height: 100vh;
    width: 100%;
    background-color: #1C2839;
    background-size: 100% 100%;
}

#intro .container{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

#intro .container .text{
    height: 100%;
    width: 100%;
}

#intro .container .text p{
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 25%;
    left: 20%;
    letter-spacing: 1px;
}

#intro .container .text p span{
    font-weight: 700;
    letter-spacing: 2px;
}

#intro .container .text p a{
    margin-top: 20px;
    color: coral;
    transition: all .2s ease;
}

#intro .container .text p a:hover{
    color: lightcoral;
}

#intro .container .text .or{
    top: 30%;
    margin: 5px;
}

#intro .container .text .button{
    border: 1px solid #000000;
    cursor: pointer;
    position: relative;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    top: 30%;
    left: 20%;
    color: #FA7A14;
    transition: all .5s ease;
}

#intro .container .text .button:hover{
    border: 1px solid #e4405f;
    background-color: #e4405f;
}

#intro .container .text .button:hover a{
    color: #000000;
}

#intro .container .text .button.contributer{
    width: 50%;
}

#intro .container .text .button.member{
    width: 30%;
}

#intro .container .text .button a{
    font-size: 20px;
    color: #e4405f;
    transition: all .5s ease;
}

#intro .container .img{
    height: 100%;
    width: 100%;
}

#intro .container .img img{
    width: 100%;
    margin-top: 15%;
}

@media (max-width: 768px) {
    .logo{
        top: 3%;
        left: 5%;
    }

    #navbar .wrap ul.wrap-nav > li {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #575757;
    }
    
    #navbar .wrap ul.wrap-nav {
        padding: 30px 0px 0px;
    }
    
    #navbar nav ul {
        opacity: 0;
        visibility: hidden;
    }
    
    #navbar .social {
        color: #c1c1c1;
        font-size: 25px;
        padding: 15px 0;
    }
    
    #navbar .social-icon {
        width: 100%;
        height: 50px;
        background: #fff;
        color: #333;
        display: block;
        margin: 5px 0;
    }

    #intro{
        height: 100%;
        background-size: 100% 100%;
    }

    #intro .container{
        display: block;
    }

    #intro .container .text{
        padding: 5% 0;
        margin: 0;
    }

    #intro .container .text p{
        font-size: 20px;
    }

    #intro .container .text .button{
        margin: 5%;
        padding: 5px;
    }

    #intro .container .text .button.contributer{
        width: 35%;
    }

    #intro .container .text .button a{
        font-size: 15px;
    }

    #intro .container .img img{
        margin-top: 5%;
    }
}

@media (max-width: 500px) {
    .menu-btn{
        top: 5%;
        right: 5%;
        float: right;
    }

    #intro .container{
        padding-top: 30%;
        margin-left: 0;
    }

    #intro .container .text p{
        width: 75%;
        font-size: 18px;
    }
}