*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body::-webkit-scrollbar{
    display: none;
}

::selection{
    background: teal;
}

#loader {
    z-index: 101;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}

.flower {
    margin: auto;
    width: 70vmin;
    height: 70vmin;
    position: relative;
}
#loader span {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: wheel 4.5s infinite cubic-bezier(0.35, 0, 0.6, 1);
    border: 2px solid white;
}
#loader span:nth-child(1) {
    background: linear-gradient(to top, white 45%, #d96526 65%);
    width: 94.4444444444%;
    height: 94.4444444444%;
    transform: translate(-50%, -50%) rotate(2880deg);
}
#loader span:nth-child(2) {
    background: linear-gradient(to top, white 45%, #d9a426 65%);
    width: 88.8888888889%;
    height: 88.8888888889%;
    transform: translate(-50%, -50%) rotate(2520deg);
}
#loader span:nth-child(3) {
    background: linear-gradient(to top, white 45%, #ced926 65%);
    width: 83.3333333333%;
    height: 83.3333333333%;
    transform: translate(-50%, -50%) rotate(2160deg);
}
#loader span:nth-child(4) {
    background: linear-gradient(to top, white 45%, #8fd926 65%);
    width: 77.7777777778%;
    height: 77.7777777778%;
    transform: translate(-50%, -50%) rotate(1800deg);
}
#loader span:nth-child(5) {
    background: linear-gradient(to top, white 45%, #50d926 65%);
    width: 72.2222222222%;
    height: 72.2222222222%;
    transform: translate(-50%, -50%) rotate(1440deg);
}
#loader span:nth-child(6) {
    background: linear-gradient(to top, white 45%, #26d93b 65%);
    width: 66.6666666667%;
    height: 66.6666666667%;
    transform: translate(-50%, -50%) rotate(1080deg);
}
#loader span:nth-child(7) {
    background: linear-gradient(to top, white 45%, #26d97a 65%);
    width: 61.1111111111%;
    height: 61.1111111111%;
    transform: translate(-50%, -50%) rotate(720deg);
}
#loader span:nth-child(8) {
    background: linear-gradient(to top, white 45%, #26d9b9 65%);
    width: 55.5555555556%;
    height: 55.5555555556%;
    transform: translate(-50%, -50%) rotate(360deg);
}
#loader span:nth-child(9) {
    background: linear-gradient(to top, white 45%, #26b9d9 65%);
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}
#loader span:nth-child(10) {
    background: linear-gradient(to top, white 45%, #267ad9 65%);
    width: 44.4444444444%;
    height: 44.4444444444%;
    transform: translate(-50%, -50%) rotate(-360deg);
}
#loader span:nth-child(11) {
    background: linear-gradient(to top, white 45%, #263bd9 65%);
    width: 38.8888888889%;
    height: 38.8888888889%;
    transform: translate(-50%, -50%) rotate(-720deg);
}
#loader span:nth-child(12) {
    background: linear-gradient(to top, white 45%, #5026d9 65%);
    width: 33.3333333333%;
    height: 33.3333333333%;
    transform: translate(-50%, -50%) rotate(-1080deg);
}
#loader span:nth-child(13) {
    background: linear-gradient(to top, white 45%, #8f26d9 65%);
    width: 27.7777777778%;
    height: 27.7777777778%;
    transform: translate(-50%, -50%) rotate(-1440deg);
}
#loader span:nth-child(14) {
    background: linear-gradient(to top, white 45%, #ce26d9 65%);
    width: 22.2222222222%;
    height: 22.2222222222%;
    transform: translate(-50%, -50%) rotate(-1800deg);
}
#loader span:nth-child(15) {
    background: linear-gradient(to top, white 45%, #d926a4 65%);
    width: 16.6666666667%;
    height: 16.6666666667%;
    transform: translate(-50%, -50%) rotate(-2160deg);
}
#loader span:nth-child(16) {
    background: linear-gradient(to top, white 45%, #d92665 65%);
    width: 11.1111111111%;
    height: 11.1111111111%;
    transform: translate(-50%, -50%) rotate(-2520deg);
}
#loader span:nth-child(17) {
    background: linear-gradient(to top, white 45%, #d92626 65%);
    width: 5.5555555556%;
    height: 5.5555555556%;
    transform: translate(-50%, -50%) rotate(-2880deg);
}
@keyframes wheel {
    to {
        transform: translate(-50%, -50%) rotate(0deg);
   }
}


#loader .loader-container {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#loader .loader-container .loader-div {
    border: none;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border: 8px solid #162534;
    border-top: 8px solid #09f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(-360deg);
    }
}

.icon{
    position: absolute;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.icon img{
    position: relative;
    width: 100%;
    height: 100%;
}

#index{
    height: 100vh;
    width: 100%;
    background: url(../Img/Index.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#index .content{
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    transform: translate(-30%, 0%);
}

#index .heading h1{
    font-size: 80px;
    letter-spacing: 2px;
    background: linear-gradient(to top, red, yellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#index .welcome p{
    font-size: 20px;
    font-weight: 900;
    margin: 20px;
}

#index .button{
    margin: 0 auto;
    border: 1px solid #000000;
    width: 9%;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

#index .button:hover{
    background-color: #000000;
}

#index .button a{
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .5s ease;
}

#index .button:hover a{
    color: #ffffff;
}

@media (max-width: 768px){
    #index .content{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #index .welcome p{
        margin: 10px;
    }

    #index .heading h1{
        font-size: 60px;
        letter-spacing: 0px;
    }

    #index .button{
        width: 21%;
        padding: 5px 10px;
    }
}