@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One:400);
@import url(https://fonts.googleapis.com/css?family=Concert+One);


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

::selection{
    background: teal;
}

#navbar{
    z-index: 3;
    position: absolute;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    display: none;
}

#navbar .container{
    background-color: #000000;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#navbar .container .nav-close{
    position: relative;
    float: right;
    top: 2%;
    right: 5%;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

#navbar .container .nav-close .line1{
    top: -10%;
    margin: 0 auto;
    margin-right: -55%;
    height: 100%;
    width: 3px;
    background-color: #ffffff;
    transform: rotate(45deg);
    border-radius: 50px;
}

#navbar .container .nav-close .line2{
    top: -10%;
    margin-right: 5%;
    margin: 0 auto;
    height: 100%;
    width: 3px;
    background-color: #ffffff;
    transform: rotate(-45deg);
    border-radius: 50px;
}

#navbar .container h1{
    margin: 3% auto;
    font-size: 50px;
    color: #111111;
    display: flex;
    width: 20%;
    font-family: 'Bad Script', cursive;
    text-align: center;
    letter-spacing: 2px;
}

#navbar .container h1 span{
    display: table-cell;
    animation: nav-title 2.7s linear infinite;
}

#navbar .container h1 span:nth-child(1){
    animation-delay: 0s;
}

#navbar .container h1 span:nth-child(2){
    animation-delay: 0.25s;
}

#navbar .container h1 span:nth-child(3){
    animation-delay: 0.5s;
}

#navbar .container h1 span:nth-child(4){
    animation-delay: 0.75s;
}

#navbar .container h1 span:nth-child(5){
    animation-delay: 1s;
}

#navbar .container h1 span:nth-child(6){
    animation-delay: 1.25s;
}

#navbar .container h1 span:nth-child(7){
    animation-delay: 1.5s;
}

#navbar .container h1 span:nth-child(8){
    animation-delay: 1.75s;
}

#navbar .container h1 span:nth-child(9){
    animation-delay: 2s;
}

#navbar .container h1 span:nth-child(10){
    animation-delay: 2.25s;
}

#navbar .container h1 span:nth-child(11){
    animation-delay: 2.50s;
}

@keyframes nav-title{
    0%,100%{
        color: #ffffff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 60px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 100px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 140px #00b3ff,
                    0 0 160px #00b3ff,
                    0 0 180px #00b3ff,
                    0 0 200px #00b3ff;
    }

    5%,95%{
        color: #111111;
        filter: blur(0px);
        text-shadow: none;
    }
}

#navbar .container .nav-links{
    margin: 2.5% 0;
}

#navbar .container .nav-links a{
    font-family: cursive;
    color: #ffffff;
    font-size: 25px;
    transition: all .3s ease;
}

#navbar .container .nav-links a:hover{
    border-bottom: 2px solid #febd01;
    padding-bottom: 5px;
}

#navbar .container .social-links ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar .container .social-links ul li a{
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    text-decoration: none;
    box-shadow: 3px 3px 3px rgba(220, 220, 220, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: all .1s;
}

#navbar .container .social-links ul li a:hover{
    box-shadow: 1px 1px 1px rgba(220, 220, 220, 0.3);
}

#navbar .container .social-links ul li a .fab{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: 30px;
    font-size: 20px;
    color: #262626;
    transition: all .2s;
}

#navbar .container .social-links ul li:nth-child(1) a:hover .fab{
    color: #00f;
}

#navbar .container .social-links ul li:nth-child(2) a:hover .fab{
    color: #e4405f;
}

#navbar .container .social-links ul li:nth-child(3) a:hover .fab{
    color: #0077B5;
}

#navbar .container .social-links ul li:nth-child(4) a:hover .fab{
    color: #dd4b39;
}

#navbar .container .social-links ul li:nth-child(5) a:hover .fab{
    color: #55acee;
}

.logo{
    z-index: 2;
    position: fixed;
    top: 2%;
    left: 2%;
    height: 50px;
    width: 50px;
}

.logo img{
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-btn{
    z-index: 2;
    position: fixed;
    float: right;
    right: 0;
    height: 20px;
    width: 20px;
    padding: 2%;
}


.menu-btn img{
    cursor: pointer;
}

#home{
    z-index: 1;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #000000;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

#home .text{
    margin: 0 auto;
    padding-top: 15%;
    font-size: 30px;
    font-weight: 700;
}

#home .name{
    margin: 1% 0;
    padding: 0 1%;
    
}

#home .name h1{
    font-size: 150px;
    font-weight: 900;
    letter-spacing: 2px;
    background: url(../img/name-background.jpg);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: backcolor 20s linear infinite;
}

@keyframes backcolor{
    0%{
        background-position: left 0px top 10px;

    }

    40%{
        background-position: left 400px top 10px;
    }
}

#home .button{
    cursor: pointer;
    margin: 0 auto;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1%;
    border-radius: 50%;
    text-align: center;
    transition: all .5s ease;
    animation: shadow-pulse .8s infinite;
}

@keyframes shadow-pulse {
    0%{
        box-shadow: 0 0 0 0px rgba(225, 225, 225, 0.2);
        transform: scale(1);
    }

    70%{
        box-shadow: 0 0 0 35px rgba(225, 225, 225, 0.1);
        transform: scale(1);
    }

    100%{
        box-shadow: 0 0 0 35px rgba(225, 225, 225, 0);
        transform: scale(1);
    }
}

#home .button:hover{
    background-color: transparent;
}

#home .button a{
    color: #000000;
    line-height: 60px;
    font-size: 18px;
    font-weight: 800;
}

#home .button:hover a{
    color: #ffffff;
}

#intro{
    height: 100vh;
    width: 100%;
    background-color: #1C2839;
    background-size: 100% 100%;
}

#intro .container{
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

#intro .container .text{
    height: 100%;
    width: 100%;
}

#intro .container .text p{
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 25%;
    left: 20%;
    letter-spacing: 1px;
}

#intro .container .text p span{
    font-weight: 700;
    letter-spacing: 2px;
}

#intro .container .text p a{
    margin-top: 20px;
    color: coral;
    transition: all .2s ease;
}

#intro .container .text p a:hover{
    color: lightcoral;
}

#intro .container .text .or{
    top: 30%;
    margin: 5px;
}

#intro .container .text .button{
    border: 1px solid #000000;
    cursor: pointer;
    position: relative;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    top: 30%;
    left: 20%;
    color: #FA7A14;
    transition: all .5s ease;
}

#intro .container .text .button:hover{
    border: 1px solid #e4405f;
    background-color: #e4405f;
}

#intro .container .text .button:hover a{
    color: #000000;
}

#intro .container .text .button.contributer{
    width: 50%;
}

#intro .container .text .button.member{
    width: 30%;
}

#intro .container .text .button a{
    font-size: 20px;
    color: #e4405f;
    transition: all .5s ease;
}

#intro .container .img{
    height: 100%;
    width: 100%;
}

#intro .container .img img{
    width: 100%;
    margin-top: 15%;
}

#services{
    max-height: 100vh;
    width: 100%;
}

#services .title{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#services .title h1{
    font-size: 50px;
    color: #1449CB;
}

#services .container{
    height: 91.2vh;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#services .container .box{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #EF7AE4;
    width: 88%;
    height: 88%;
    text-align: center;
    transition: all .5s ease;
}

#services .container .box:hover{
    border-radius: 10px;
}

#services .container .box .fas,
#services .container .box .fab{
    position: relative;
    margin: 20% 25%;
    line-height: 100px;
    font-size: 100px;
    transition: all .5s ease;
}

#services .container .box:hover .fas,
#services .container .box:hover .fab{
    margin: 5% 0;
    font-size: 50px;
}

#services .container .box .text{
    position: relative;
    display: none;
    color: #ffffff;
    margin: 0;
    transition: all .5s esae;
}

#services .container .box .text h3{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
    color: #e4405f;
}

#services .container .box:hover .text{
    display: block;
    margin: 0;
}

#services .container .box .text p{
    color: grey;
    font-family: 'Concert One', cursive;
    margin-top: 1%;
}

@media(max-width: 768px) {
    .logo{
        top: 3%;
        left: 5%;
    }

    #home .text{
        padding-top: 40%;
    }

    #home .name h1{
        font-size: 70px;
    }

    #home .button{
        width: 20%;
    }

    #home .button a{
        font-weight: 400;
    }

    #navbar .container .nav-close{
        top: 0;
        right: 5%;
    }

    #navbar .container h1{
        margin: 5% auto;
        width: 47%;
    }

    #navbar .container .nav-links{
        margin: 6% 0;
    }

    #intro{
        height: 100%;
        background-size: 100% 100%;
    }

    #intro .container{
        display: block;
    }

    #intro .container .text{
        padding: 5% 0;
        margin: 0;
    }

    #intro .container .text p{
        font-size: 20px;
    }

    #intro .container .text .button{
        margin: 5%;
        padding: 5px;
    }

    #intro .container .text .button.contributer{
        width: 35%;
    }

    #intro .container .text .button a{
        font-size: 15px;
    }

    #intro .container .img img{
        margin-top: 5%;
    }

    #services{
        position: absolute;
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
    }

    #services .title h1{
        font-size: 35px;
    }

    #services .container{
        height: 100%;
        width: 100%;
        display: block;
    }

    #services .container .box{
        margin: 0 auto;
        margin-bottom: 5%;
        height: 45%;
        width: 50%;
    }

    #services .container .box:hover{
        border-radius: 5px;
    }

    #services .container .box .fas,
    #services .container .box .fab{
        position: relative;
        margin: 30% 15%;
        font-size: 100px;
    }

    /* #services .container .box .text{
        margin-top: -100%;
    } */
}